extends layout

block content
  .page-header
  h1
    | Page Not Found
    small
      font(face='Tahoma', color='red')  Error 404
  br
  p
    | The page you requested could not be found, either contact your webmaster or try again. Use your browsers
    b  Back
    |  button to navigate to the page you have previously come from
  p
  a.btn.btn-large.btn-info(href='/')
    i.icon-home.icon-white
    | Home
